.jumbotron {
    /* background-color: #00b894; */
    /* background-image: url(/guia_hotel/images/paisaje.jpg); */
    background-size: cover;
    color: black;
    margin-top: 50px;
}

.btn {
    /* background-color: #0984e3; */
}

footer {
    padding: 10px;
    background-color: #00b894;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 190px;
    /* padding: 2px 5px 2px 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 4px 0px 4px;
}

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}