$yellow: #e6d62c;
$red: #ff4242;
$green: #41de3c;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    background-size: cover;
    color: black;
    @include margenes(50px, 15px);
}

footer {
    padding: 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 190px;
    /* padding: 2px 5px 2px 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 4px 0px 4px;
}

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}