.jumbotron {
  background-color: #e6d62c;
  background-size: cover;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px; }

footer {
  padding: 10px;
  background-color: #e6d62c;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 190px;
  /* padding: 2px 5px 2px 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 4px 0px 4px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
